@font-face {
  font-family: kobe;
  src: url("/Fonts/kobe11-bold.ttf");
}
@font-face {
  font-family: din-next;
  src: url("/Fonts/din-next-lt-w23-medium.ttf");
}
:root {
  --head: kobe;
  --desc: din-next;
  --primary: #101720;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary);
}

.bg-img {
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/background.png");
  background-size: cover;
  z-index: -1;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}
header nav h1 {
  font-size: 28px;
  font-family: var(--head);
}
header nav a {
  color: var(--primary);
  text-decoration: none;
  font-family: var(--desc);
  position: relative;
}
header nav a:before {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  border-bottom: 2px solid var(--primary);
  bottom: -3px;
  transition: width 0.6s;
}
header nav a:hover:before {
  width: 45%;
}

main {
  margin: 1.5rem 0;
}
main .container {
  padding: 30px 10px;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
main .container .city-input {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}
main .container .city-input input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 0.3rem;
  font-size: 18px;
  font-family: var(--desc);
}
main .container .city-input input:focus, main .container .city-input input:valid {
  background: transparent;
  outline: 0;
}
main .container .city-input label {
  transform: translateY(25px);
  font-size: 14px;
  font-family: var(--desc);
  color: rgba(16, 23, 32, 0.7);
  transition: transform 0.4s;
}
main .container .city-input label:has(~ input:focus) {
  transform: translateY(0);
}
main .container .city-input label:has(~ input:valid) {
  transform: translateY(0);
}
main .container .city-input label:hover {
  cursor: text;
}
main .container .city-input .input-err {
  display: none;
  font-family: var(--desc);
  margin-top: 2px;
  color: rgba(16, 23, 32, 0.7);
  font-size: 14px;
}
main .container .cta-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
main .container .cta-container a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: rgba(16, 23, 32, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-family: var(--head);
  font-size: 20px;
}
main .container .weather-info {
  width: 250px;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .container .weather-info .city-info h2 {
  font-size: 28px;
  font-family: var(--head);
}
main .container .weather-info .city-info p {
  font-family: var(--desc);
}
main .container .weather-info .weather-details-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
main .container .weather-info .weather-details-container .weather-details {
  display: flex;
  flex-direction: column;
}
main .container .weather-info .weather-details-container .weather-details p {
  font-family: var(--desc);
}
main .container .weather-info .weather-details-container .weather-details h3 {
  font-family: var(--head);
  font-size: 26px;
}

footer .container {
  display: flex;
  justify-content: center;
  font-family: var(--head);
}
footer .container h3 {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: rgba(255, 255, 255, 0.4);
}
footer .container h3 span {
  font-size: 16px;
}
footer .container h3 svg {
  scale: 0.7;
}

@media only screen and (min-width: 680px) {
  .bg-img {
    height: 100vh;
  }
  main .container {
    max-width: 520px;
  }
  main .container .city-input {
    width: 320px;
  }
  main .container .weather-info {
    width: 420px;
  }
  main .container .weather-info .weather-details-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 920px) {
  header nav {
    padding: 1rem 2.5rem;
  }
  header nav h1 {
    font-size: 32px;
  }
  header nav a {
    font-size: 18px;
  }
  main {
    margin: 3rem 0;
  }
  main .container .city-input input {
    font-size: 20px;
  }
  main .container .city-input label {
    font-size: 16px;
    transform: translateY(35px);
  }
  main .container .city-input .input-err {
    font-size: 16px;
  }
  main .container .cta-container a {
    font-size: 22px;
  }
  main .container .weather-info .city-info h2 {
    font-size: 42px;
  }
  main .container .weather-info .city-info p {
    font-size: 20px;
  }
  main .container .weather-info .weather-details-container .weather-details p {
    font-size: 18px;
  }
  main .container .weather-info .weather-details-container .weather-details h3 {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */